<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Kvalifikācijas darbs
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="/viewFunctions.js"></script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
            <nav class="navbar navbar-expand-md navbar-light" style="background-color: #acc5d0;">
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="nav navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/countries">Countries</a></li>
                    <li class="nav-item"><a class="nav-link" href="/flags">Flags</a></li>
                    <li class="nav-item"><a class="nav-link" href="/capitals">Capitals</a></li>
                    <li class="nav-item">
                        <div class="dropdown">
                          <a class="nav-link dropdown-toggle active" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Multiple answer
                          </a>
                        
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="/flagsMultiple">Flags</a></li>
                            <li><a class="dropdown-item" href="/capitalsMultiple">Capitals</a></li>
                            <li><a class="dropdown-item" href="/general1">General #1</a></li>
                            <li><a class="dropdown-item" href="/general2">General #2</a></li>
                            <li><a class="dropdown-item" href="/general3">General #3</a></li>
                          </ul>
                        </div>
                      </li>
                  </ul>
                  <ul class="nav navbar-nav">
                    <li class="nav-item"><a id="logIn" class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a id="register" class="nav-link" href="/register">Register</a></li>
                    <li class="nav-item"><a id="logOut" class="nav-link" style="display:none;" href="/logout">Log out</a></li>
                  </ul>
                  </div>
              </nav>

            <div class="quizSetup" id="quizSetup">
            <select id="regionSelect">
            <option value="World" selected>World</option>
            <option value="Europe">Europe</option>
            <option value="Asia">Asia</option>
            <option value="North America">North America</option>
            <option value="South America">South America</option>
            <option value="Oceania">Oceania</option>
            <option value="Africa">Africa</option>
            </select>
            <br>
            <select id="timeSelect">
                <option value="10:00" selected>10:00</option>
                <option value="15:00">15:00</option>
                <option value="20:00">20:00</option>
                <option value="25:00">25:00</option>
                <option value="5:00">05:00</option>
            </select>
            <br>
            <button class="button" id="capitalsQuizStart">Start</button>
            </div>
            <div class="quizRunGrid" id="quizRun">
                <div class="gridHeader">
                    <p id="questionLabel">Please select your favorite Web language:</p>
                </div>
                <div class="gridEmptySpace1"></div>
                <div class="radioCheckBox">
                    <input type="radio" id="question1" name="Answer">
                    <label for="question1" id="questionLabel1"></label><br>
                    <input type="radio" id="question2" name="Answer">
                    <label for="question2" id="questionLabel2"></label><br>
                    <input type="radio" id="question3" name="Answer">
                    <label for="question3" id="questionLabel3"></label><br>
                    <input type="radio" id="question4" name="Answer">
                    <label for="question4" id="questionLabel4"></label><br>
                </div>
                <div class="gridFooter">
                    <button class="button" id="nextButton">Next</button>
                <p id="timer">10:00</p>
                </div>
            </div>
            <h3 id="score" style="text-align:center;margin-top:20px"></h3>
        <script>
            userLoginCheck('<%=locals.username%>');      
            var countryData;
            var currentCountryIndex = 0;
            var correctAnswers = 0;
            var quizEnded = false;
            function startTimer(){
                var timer = document.getElementById('timer');
                var timerText = timer.innerHTML;
                var minutes = Number(timerText.split(":")[0]);
                var seconds = Number(timerText.split(":")[1]);
                if(seconds == 0){
                    seconds = 59;
                    minutes--;
                } else {
                    seconds--;
                }
                if(minutes < 0 || quizEnded == true){
                    quizEnded = true;
                    endQuizStylingMultiple();
                    var quizData = submitQuizResults(correctAnswers, countryData.length, document.getElementById('timeSelect').value, document.getElementById('timer').innerHTML, "CAPITALS");
                        quizData.then((value) => {
                                    
                        });
                    return;
                }
                var minutesToOutput = (minutes < 10) ? "0"+String(minutes) : String(minutes);
                var secondsToOutput = (seconds < 10) ? "0"+String(seconds) : String(seconds);
                document.getElementById('timer').innerHTML = minutesToOutput+":"+secondsToOutput;
                if(quizEnded != true){
                    var timeoutObj = setTimeout(startTimer, 1000);
                }
                
            }
            
            function populateTest(countryValueStruct){
                var newCountryList = [];
                for(var i =0; i< countryValueStruct.length; i++){
                    var newObj = {};
                    var indexes = generateIndexes(0, countryValueStruct.length, i);
                    newObj["NAME"] = countryData[i]["NAME"];
                    newObj["CAPITAL"] = countryData[i]["CAPITAL"];
                    newObj["capital2"] = countryData[indexes[0]]["CAPITAL"];
                    newObj["capital3"] = countryData[indexes[1]]["CAPITAL"];
                    newObj["capital4"] = countryData[indexes[2]]["CAPITAL"];
                    newCountryList.push(newObj);
                }
                for(var i =0; i< newCountryList.length; i++){
                    var j = Math.floor(Math.random() * (i + 1));
                                
                    var temp = newCountryList[i];
                    newCountryList[i] = newCountryList[j];
                    newCountryList[j] = temp;
                }
                return newCountryList;

            }
            
            var valuesMap = {};
            var quizButton = document.getElementById('capitalsQuizStart');
            quizButton.onclick = function(){
                var regionSelect = document.getElementById('regionSelect').value;
                var timeSelect = document.getElementById('timeSelect').value;
                var promiseData = start(regionSelect);
                promiseData.then((value) => {
                    // here goes everything that is needed for the quiz to work
                    countryData = JSON.parse(value);
                    var currentIndex = 0;
                    var countryList = populateTest(countryData);
                    var numberOfCapitals = countryList.length;
                    var quizSetup = document.getElementById('quizSetup');
                    quizSetup.style = "display:none;";
                    var quizRun = document.getElementById('quizRun');
                    quizRun.style = "display:grid; gap:10px; padding:10px;";
                    var timer = document.getElementById('timer');
                    timer.innerHTML = timeSelect;
                    document.getElementById('score').innerHTML = "0/"+String(numberOfCapitals);
                    var correctAnswerIndex = updateCapitalsForm(countryList[0], randomizeCorrectAnswerPlace());
                    var answerButton = document.getElementById('nextButton');
                    answerButton.onclick = function(){
                        if(quizEnded == false){
                            currentIndex++;
                            if(currentIndex == numberOfCapitals){
                                //end of quiz
                                quizEnded = true;
                                if(document.getElementById('question'+String(correctAnswerIndex)).checked == true){
                                    correctAnswers++;
                                }
                                uncheckCheckboxes();
                                document.getElementById('score').innerHTML = String(correctAnswers)+"/"+String(numberOfCapitals);
                            }
                            else{
                                if(document.getElementById('question'+String(correctAnswerIndex)).checked == true){
                                    correctAnswers++;
                                }
                                uncheckCheckboxes();
                                correctAnswerIndex = updateCapitalsForm(countryList[currentIndex], randomizeCorrectAnswerPlace());
                                
                                document.getElementById('score').innerHTML = String(correctAnswers)+"/"+String(numberOfCapitals);
                            }    
                        }
                    }
                    startTimer(timer);
                });
            }
         </script>
    </body>
</html>