<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Kvalifikācijas darbs
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="/viewFunctions.js"></script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light" style="background-color: #acc5d0;">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="nav navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/countries">Countries</a></li>
                <li class="nav-item"><a class="nav-link" href="/flags">Flags</a></li>
                <li class="nav-item"><a class="nav-link active" href="/capitals">Capitals</a></li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Multiple answer
                        </a>
                    
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="/flagsMultiple">Flags</a></li>
                        <li><a class="dropdown-item" href="/capitalsMultiple">Capitals</a></li>
                        <li><a class="dropdown-item" href="/general1">General #1</a></li>
                        <li><a class="dropdown-item" href="/general2">General #2</a></li>
                        <li><a class="dropdown-item" href="/general3">General #3</a></li>
                        </ul>
                    </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                <li class="nav-item"><a id="logIn" class="nav-link" href="/login">Login</a></li>
                <li class="nav-item"><a id="register" class="nav-link" href="/register">Register</a></li>
                <li class="nav-item"><a id="logOut" class="nav-link" style="display:none;" href="/logout">Log out</a></li>
                </ul>
                </div>
            </nav>

        <div class="quizSetup" id="quizSetup">
        <select id="regionSelect">
        <option value="World" selected>World</option>
        <option value="Europe">Europe</option>
        <option value="Asia">Asia</option>
        <option value="North America">North America</option>
        <option value="South America">South America</option>
        <option value="Oceania">Oceania</option>
        <option value="Africa">Africa</option>
        </select>
        <select id="timeSelect">
            <option value="10:00" selected>10:00</option>
            <option value="15:00">15:00</option>
            <option value="20:00">20:00</option>
            <option value="25:00">25:00</option>
            <option value="5:00">05:00</option>
        </select>
        <button id="capitalsQuizStart">Start</button>
        </div>
        <div class="quizRun" id="quizRun">
            <p id="capitalLabel">What is the capital of Latvia?</p>
            <button id="previousButton"><</button>
            <input type="text" id="countryInput" name="countryInput">
            <button id="nextButton">></button>
            <button id="countryQuizFinish">Finish</button>
            <p id="timer">10:00</p>
        </div>
        <h3 id="score" style="text-align:center;margin-top:20px"></h3>
        <script>
            userLoginCheck('<%=locals.username%>');      
            var countryData;
            var numberOfCapitals = 0;
            var currentCountryIndex = 0;
            var capitalsGuessed = 0;
            var quizEnded = false;
            
            function checkStringForCountry(inputString, valuesStruct){
                for(var i =0; i< countryData.length; i++){
                    if (inputString == countryData[i]["NAME"]){
                        var isoCode = countryData[i]["ISO"];
                        if(valuesStruct[isoCode] == null){
                            var gdpStruct = {"gdp": 4000};
                            valuesStruct[isoCode] = gdpStruct;
                            markCountryOnMap(valuesStruct);
                            document.getElementById('country').value = "";
                        }
                        return valuesStruct;
                    }
                }
                return valuesStruct;
            }
            function startTimer(){
                var timer = document.getElementById('timer');
                var timerText = timer.innerHTML;
                var minutes = Number(timerText.split(":")[0]);
                var seconds = Number(timerText.split(":")[1]);
                if(seconds == 0){
                    seconds = 59;
                    minutes--;
                } else {
                    seconds--;
                }
                if(minutes < 0 || quizEnded == true){
                    quizEnded = true;
                    var quizData = submitQuizResults(capitalsGuessed, numberOfCapitals, document.getElementById("timeSelect").value, document.getElementById("timer").innerHTML, "CAPITALS");
                    quizData.then((value) => {
                            
                    });
                    return;
                }
                var minutesToOutput = (minutes < 10) ? "0"+String(minutes) : String(minutes);
                var secondsToOutput = (seconds < 10) ? "0"+String(seconds) : String(seconds);
                document.getElementById('timer').innerHTML = minutesToOutput+":"+secondsToOutput;
                if(quizEnded != true){
                    var timeoutObj = setTimeout(startTimer, 1000);
                }
                
                
            }
            function populateCountryList(countryValueStruct){
                var newCountryList = [];
                for(var i =0; i< countryValueStruct.length; i++){
                    var newObj = {};
                    newObj["NAME"] = countryData[i]["NAME"];
                    newObj["CAPITAL"] = countryData[i]["CAPITAL"];
                    newObj["CAPITAL_EXT"] = countryData[i]["CAPITAL_EXT"];
                    newCountryList.push(newObj);
                }
                for(var i =0; i< newCountryList.length; i++){
                    var j = Math.floor(Math.random() * (i + 1));
                                
                    var temp = newCountryList[i];
                    newCountryList[i] = newCountryList[j];
                    newCountryList[j] = temp;
                }
                return newCountryList;
            }

            
            var valuesMap = {};
            var quizButton = document.getElementById('capitalsQuizStart');
            quizButton.onclick = function(){
                var regionSelect = document.getElementById('regionSelect').value;
                var timeSelect = document.getElementById('timeSelect').value;
                var promiseData = start(regionSelect);
                promiseData.then((value) => {
                    // here goes everything that is needed for the quiz to work
                    countryData = JSON.parse(value);
                    var countryList = populateCountryList(countryData);
                    numberOfCapitals = countryList.length;
                    document.getElementById('score').innerHTML = "0/"+String(numberOfCapitals);
                    var quizSetup = document.getElementById('quizSetup');
                    quizSetup.style = "display:none;";
                    var quizRun = document.getElementById('quizRun');
                    quizRun.style = "display:block; text-align:center; margin:20px;";
                    var timer = document.getElementById('timer');
                    timer.innerHTML = timeSelect;
                    var quizEndButton = document.getElementById('countryQuizFinish');
                    quizEndButton.onclick = function(){
                        quizEnded = true;
                    }
                    var previousButton = document.getElementById('previousButton');
                    var nextButton = document.getElementById('nextButton');
                    document.getElementById('capitalLabel').innerHTML = "What is the capital of "+countryList[currentCountryIndex]["NAME"]+"?";
                    previousButton.addEventListener('click', () => {
                        if (currentCountryIndex != 0) { // if a letter pressed
                            currentCountryIndex--;
                            document.getElementById('capitalLabel').innerHTML = "What is the capital of "+countryList[currentCountryIndex]["NAME"]+"?";
                        }
                    });
                    nextButton.addEventListener('click', () => {
                        if (currentCountryIndex < countryList.length -1) { // if a letter pressed
                            currentCountryIndex++;
                            document.getElementById('capitalLabel').innerHTML = "What is the capital of "+countryList[currentCountryIndex]["NAME"]+"?";
                            
                        }
                    });
                    var inputText = document.getElementById('countryInput');
                    inputText.addEventListener('keyup', (e) => {
                        if (e.keyCode >= 65 && e.keyCode <= 90 && quizEnded == false) { // if a letter pressed
                            var currentInputText = document.getElementById('countryInput').value;
                            var extraCapitalCondition = false;
                            if(String(countryList[currentCountryIndex]["CAPITAL_EXT"]).includes(";")){
                                var capitals = String(countryList[currentCountryIndex]["CAPITAL_EXT"]).split(";");
                                if(String(currentInputText).toLowerCase() == String(capitals[0]).toLowerCase() || 
                                    String(currentInputText).toLowerCase() == String(capitals[1]).toLowerCase()){
                                        extraCapitalCondition = true;
                                    }
                            }
                            else if(String(countryList[currentCountryIndex]["CAPITAL_EXT"]) != ""){
                                if(String(countryList[currentCountryIndex]["CAPITAL_EXT"]).toLowerCase() == String(currentInputText).toLowerCase()){
                                    extraCapitalCondition = true;
                                }
                            }
                            if(String(currentInputText).toLowerCase() == String(countryList[currentCountryIndex]["CAPITAL"]).toLowerCase() || extraCapitalCondition == true){
                                countryList.splice(currentCountryIndex, 1);
                                capitalsGuessed++;
                                if(countryList.length > 0){
                                    if(currentCountryIndex == countryList.length){
                                        currentCountryIndex--;
                                    }
                                    document.getElementById('capitalLabel').innerHTML = "What is the capital of "+countryList[currentCountryIndex]["NAME"]+"?";
                                }else{
                                    quizEnded = true;
                                }
                                document.getElementById('score').innerHTML = String(capitalsGuessed)+"/"+String(numberOfCapitals);
                                document.getElementById('countryInput').value = "";
                            }
                        }
                    });
                    startTimer(timer);
                });
            }
         </script>
    </body>
</html>